:root {
  --main-bg-color-light: #fe1896;
  --main-bg-color-dark: #fe1896;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#logo {
  width: 5rem;
  height: 5rem;
}

.nav-link {
  color: black;
}

/* Font */
* {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.large_font {
  font-size: 25px;
}

.mid_font {
  font-size: 18px;
}

#logo {
  width: 100px;
  height: 100px;
}

.duds_mo_bgc {
  background-color: var(--main-bg-color-light);
}

.social {
  margin: auto auto;
  display: flex;
  flex-direction: column;
}

.social a {
  width: 180px;
  padding: 0;
  margin: 5px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.social img {
  width: 10vh;
  height: 10vh;
  border-radius: 5vh;
  object-fit: cover;
  margin-right: 10px;
}

.custom_size > .carousel-inner > .carousel-item {
  height: 800px;
}
