:root {
  --main-bg-color-light: #fe1896;
  --main-bg-color-dark: #fe1896;
}

#logo {
  width: 5rem;
  height: 5rem;
}

.nav-link {
  color: black;
}

/* Font */
* {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.large_font {
  font-size: 25px;
}

.mid_font {
  font-size: 18px;
}

/* #logo {
  width: 100px;
  height: 100px;
} */

[data-bs-theme="light"] .duds_mo_bgc {
  background-color: var(--main-bg-color-light);
}

[data-bs-theme="dark"] .duds_mo_bgc {
  background-color: var(--main-bg-color-dark);
}

.social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social a {
  width: 180px;
  margin: 0 20px;
  padding: 0;
}

.social img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.custom_size > .carousel-inner > .carousel-item {
  height: 800px;
}
